.plan {
  background-color: #0a0a0a;
}



.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url('/background_gradient_nexus.png');
  background-size: cover;
  background-position: center;
  padding: 20vh 50px 50px 50px;
  color: white;
  height: auto; /* Adjust height as needed */
}

.hero-content {
  max-width: 50%;
}

.hero-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero-text {
  font-size: 1.2rem;
  line-height: 1.5;
}

.hero-image-container {
  max-width: 40%;
}

.hero-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px; /* Optional: for rounded corners */
}

/* Media Queries */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    height: auto;
    padding-top: 20vh;
  }

  .hero-content {
    max-width: 100%;
  }

  .hero-title {
    font-size: 2rem;
  }

  .hero-text {
    font-size: 1rem;
  }

  .hero-image-container {
    max-width: 100%;
    margin-top: 20px;
  }
}
