.plan {
  background-color: #0a0a0a;
  padding-top: 90px;
}

.planes_planes p {
  color: #fff;
  padding: 5vh 3vw;
  font-size: 3em;
}

.Princing {
  display: flex;
  border-top: 1px solid #fff;
  padding: 5vh 3vw;
  gap: 5vw;
}

.letter {
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 2vh 3vw;
}

.hero {
  background-color: #0A0A0A;
  display: flex;
  height: 100vh;
  padding-top: 0vh;
}

.left-container {
  width: 45%;
  color: #fff;
  padding-left: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-container h1 {
  font-size: 3em;
}

.left-container img {
  margin-top: 5vh;
  width: 40%;
}

.left-container h2 {
  font-size: 2em;
  font-weight: normal;
  margin-bottom: 3vh;
}

.right-container {
  width: 45%;
  background-image: url("/hero_Nexus.png");
  background-size: cover;
  background-repeat:none;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative; /* Necesario para posicionar el hr */
}

.logo-container img {
  max-width: 100%; /* Asegura que la imagen no se salga del contenedor */
  animation: spin 10s linear infinite; /* Aplica la animación de giro infinito */

}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg); /* Gira la imagen 360 grados */
  }
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative; /* Necesario para posicionar el hr */
}

.logo-container img {
  max-width: 100%; /* Asegura que la imagen no se salga del contenedor */
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.logo-container img {
  max-width: 80%;
  z-index: 1;
}

.logo-container hr {
  position: absolute;
  height: calc(100%);
  border: none;
  border-left: 2px solid white;
  margin: 0; /* Elimina cualquier margen que se aplique por defecto */
  left: calc(50% - 1px);
}

.logo-container hr:first-child {
  left: -4px;
}

.logo-container hr:last-child {
  right: -4px;
}


/*page css medias*/

@media screen and (max-width:900px) {
  .hero {
    flex-direction:column;
    height: auto;
  }
  
  .left-container {
    width: 100%;
    text-align: start;
    padding-top: 10vh;
    padding-right: 3vw;
  }

  .logo-container {
    width: 100%;
    flex-direction: row;
    padding-top: 10vh;
    margin-bottom: 10vh;
    display: none;
  }

  .logo-container hr {
  display: none;
  }

  .right-container {
    width: 100%;
    height: 80vh;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .Princing {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/** css medias**/

.hero {
  background-color: #0A0A0A;
  display: flex;
  height: 100vh;
  padding-top: 0vh;
}

.left-container {
  width: 45%;
  color: #fff;
  padding-left: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-container h1 {
  font-size: 3em;
}

.left-container img {
  margin-top: 5vh;
  width: 40%;
}

.left-container h2 {
  font-size: 2em;
  font-weight: normal;
  margin-bottom: 3vh;
}

.right-container {
  width: 45%;
  background-image: url("/hero_Nexus.png");
  background-size: cover;
  background-repeat:none;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative; /* Necesario para posicionar el hr */
}

.logo-container img {
  max-width: 100%; /* Asegura que la imagen no se salga del contenedor */
  animation: spin 10s linear infinite; /* Aplica la animación de giro infinito */

}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg); /* Gira la imagen 360 grados */
  }
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  position: relative; /* Necesario para posicionar el hr */
}

.logo-container img {
  max-width: 100%; /* Asegura que la imagen no se salga del contenedor */
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.logo-container img {
  max-width: 80%;
  z-index: 1;
}

.logo-container hr {
  position: absolute;
  height: calc(100%);
  border: none;
  border-left: 2px solid white;
  margin: 0; /* Elimina cualquier margen que se aplique por defecto */
  left: calc(50% - 1px);
}

.logo-container hr:first-child {
  left: -4px;
}

.logo-container hr:last-child {
  right: -4px;
}

@media screen and (max-width:900px) {
  .hero {
    flex-direction:column;
    height: auto;
    padding-top: 0;
  }
  
  .left-container {
    width: 100%;
    text-align: start;
    padding-top: 0vh;
    padding-right: 3vw;
    padding-bottom: 10vh;
  }

  .logo-container {
    width: 100%;
    flex-direction: row;
    padding-top: 10vh;
    margin-bottom: 10vh;
  }

  .logo-container hr {
  display: none;
  }

  .right-container {
    width: 100%;
    height: 60vh;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }
}