.logo-container img {
  max-width: 80%;
  z-index: 1;
}

.logo-container hr {
  position: absolute;
  height: calc(100%);
  border: none;
  border-left: 2px solid white;
  margin: 0; /* Elimina cualquier margen que se aplique por defecto */
  left: calc(50% - 1px);
}

.logo-container hr:first-child {
  left: -4px;
}

.logo-container hr:last-child {
  right: -4px;
}

@media screen and (max-width:900px) {
  .hero {
    flex-direction:column;
    height: auto;
  }
  
  .left-container {
    width: 100%;
    text-align: start;
    padding-top: 10vh;
    padding-right: 3vw;
  }

  .logo-container {
    width: 100%;
    flex-direction: row;
    padding-top: 10vh;
    margin-bottom: 10vh;
  }

  .logo-container hr {
  display: none;
  }

  .right-container {
    width: 100%;
    height: 80vh;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }
}