.button__primary {
  border: none;
  padding: 2vh 4vw;
  background: linear-gradient(to right, #E2FF69, #69A9FF);
  color: #0a0a0a;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  border-radius:100px;
  font-size: 1em;
  cursor: pointer;
}

.button__primary:hover {
 color: #0a0a0a;
 background: linear-gradient(to right, #69A9FF, #E2FF69);
}
