.title {
  display: flex;
  padding: 5vh 5vw;
  justify-content: center;
  align-items: center;
  color: #FFF;
  background-color: #0A0A0A;
  font-size: 3em;
}

.title  h2 {
  font-weight:normal;
}

@media screen and (max-width:690px) {
  .title {
    font-size: 2em;
  }
  
}